html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: whitesmoke;  /* fallback for old browsers */

}
.calcu-wrap {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 100%;
    background: #2d2d2d;
    color: white;
    letter-spacing: 1px;
    padding: 25px 0 0;
    max-width: 400px;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0px 16px 27px -14px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 16px 27px -14px rgba(0,0,0,0.15);
    box-shadow: 0px 16px 27px -14px rgba(0,0,0,0.15);
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 5px solid #781ee1;


}
#formula {
    letter-spacing: 5px;
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden; 
    height: 1.2em; 
    white-space: nowrap;
}
#answer {
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 50px;
    border-bottom: 1px solid #ddd;
    overflow-y: hidden;
	-webkit-animation: tracking-in-expand 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    padding-bottom: 15px;
}
.calcu-wrap > p:nth-child(1),
.calcu-wrap > p:nth-child(2) {
    display: block;
    margin: 15px auto;
    text-align: right;
    width: 80%;
    line-height: 25px;
}

.calcu-wrap > p:nth-child(2) {
    font-size: 3em;
}

.calcu {
    display: block;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    background: white;
}
.calcu-row {
    width: 100%;
    display: table;
    border-collapse:collapse;
}
.calcu-row > div {
    
    transition: 0.5s all;
    box-sizing: border-box;
    float: left;
    padding: 15px;
    text-align: center;
    width: 25%;
    font-size: 1em;
    cursor: pointer;
    font-weight: 100;
    line-height: 2em;
    color: #2d2d2d;
    border: 1px solid rgba(0, 0, 0, 0.05);
    
    user-select: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
}

.calcu-row > div:hover {
    background: #ececec;
}

.calcu-row::after {
    display: table;
    content: '';
    clear: both;
}
.eq {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #2d2d2d;
    border-radius: 15px;
}
.error {
    font-size: 15px;
    transition: 0.5s all;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.operator {
    color: rgb(37, 238, 238);
    font-weight: bold;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.comma {
    color: white;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-24 19:28:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

@media screen and (max-width: 500px) { 
    .calcu-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        max-width: 400px;
        width: 95%;
    }

}